@use "../config";

.search-bar-container {
  position: relative;
}

.results-box {
  position: absolute;
  top: 3.7rem;
  right: 0;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 40rem;
  width: 100%;
  background-color: config.$white;
  border-radius: config.$b-radius-s;
  box-shadow: 1px 3px 3px config.$light-gray;
  padding: config.$pad-m;

  .results-list {
    list-style: none;
    .results-item {
      padding: config.$pad-s config.$pad-s;
      @include config.flex();
      // height: 4rem;
      border-bottom: 1px solid config.$light-gray;
      cursor: pointer;
      transition: all config.$trans-s;
      a {
        border-radius: config.$b-radius-s;
      }
      &:last-child {
        border: none;
      }
      &:hover {
        background-color: config.$light-gray;
      }
    }
  }
}
